input[type=text], select {
    width: 100%;
    border: 1px solid rgb(204,204,204);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
}
#email{
    width: 100%;
    padding:  12px 20px;
    border-radius: 4px;
    border: 1px solid rgb(204,204,204);
    margin: 8px 0px;
}
.mainform{
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #0863A6;
    position: absolute;
    left: 300px;
    right: 300px;
}
h3{
    text-align: center;
    padding: 10px 50px;
    color: #0863A6;
}
img{
    height: 100px;
    width: 100px;
    margin-left: 40%;
    padding: 0px 0px 50px 0px;
}
.button{
    background-color: #0863A6;
    color: white;
    padding: 10px;
    margin: 30px;
    width: 80px;
    border-radius: 5px;
    border: none;
}
.button1{
    border: none;
    background-color: white;
    color: #0863A6;
}
.but{
    float: right;
    margin-top: 20px;
}
a{
    text-decoration: none;
}