input[type=text], select {
    width: 100%;
    border: 1px solid rgb(204,204,204);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
}
input [type=submit] {
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 14px 20px;
    margin: 8px 0px;
    cursor: pointer;
    background-color: rgb(76, 175, 80);
    color: black;
}
input [type=submit]:hover{
    background-color: rgb(69, 160, 73);
}
.mainform{
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(69, 160, 73);
}
