*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* NAVIGATION BAR */

#landingnavigation{
    border: 2px;
    border-radius: 2px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: 60vh;
    margin-top: 30px;
    margin-bottom: 30px;
}

#landingnavigation > .kushoto, .kulia{
    width: 50%;
}

#landingnavigation > .kushoto{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h1{
    font-size: 50px;
    color: #0863A6;
}

#landingnavigation > .kulia{
}

#landingnavigation > .kulia > .ldg-navbutton{
    display: flex;
    padding: 25px;
    background-color: #0863A6;
    color: white;
    border-color: white;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 30px;
    margin-right: 30px;
    margin-left: 700px;
}


/* TRANSITION SECTION */
#ldg-transition{
    margin-top: 30px;
    margin-bottom: 30px;
}

#ldg-transition > .trans{
    display: flex;
    height: 100vh;
}

#ldg-transition > .trans > .lefty > .righty{
    width: 50%;
}

#ldg-transition > .trans > .lefty{
    display: block;
}

#ldg-transition > .trans > .lefty > h2{
    font-size: 50px;
    color: #0863A6;
    margin-left: 100px;
    margin-right: 75px;
    text-align: left;
}

#ldg-transition > .trans > .lefty > p{
    font-size: 32px;
    margin-left: 100px;
    margin-right: 80px;
    text-align: left;
}

.getstarted{
    padding: 25px;
    font-size: 30px;
    background-color: #0863A6;
    color: white;
    border-color: white;
    border-radius: 15px;
    margin-left: 350px;
}

#ldg-transition > .trans > .righty{
    margin-right: 30px;
    
}