*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* NAVIGATION BAR */

#landingnavigation{
    border: 2px;
    border-radius: 2px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

#landingnavigation > .kushoto, .kulia{
    width: 50%;
}

#landingnavigation > .kushoto{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h1{
    font-size: 30px;
    color: #0863A6;
}

#landingnavigation > .kulia{
    display: flex;
    align-items: center;
}

#landingnavigation > .kulia > .ldg-navbutton{
    display: flex;
    padding: 25px;
    background-color: #0863A6;
    color: white;
    border-color: black;
    border-radius: 25px;
    font-size: 25px;
    margin-right: 50px;
    margin-left: 650px;
    border-bottom: 2px;
}


/* TRANSITION SECTION */
#ldg-transition{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
}

#ldg-transition > .trans{
    display: flex;
}

#ldg-transition > .trans > .lefty > .righty{
    width: 50%;
}

#ldg-transition > .trans > .lefty{
    display: block;
    width: 50%;
}

#ldg-transition > .trans > .lefty > h2{
    font-size: xx-large;
    color: #0863A6;
    margin-left: 100px;
    margin-right: 75px;
    text-align: left;
}

#ldg-transition > .trans > .lefty > p{
    font-size: x-large;
    margin-left: 100px;
    margin-right: 80px;
    text-align: left;
}

.getstarted{
    padding: 25px;
    font-size: 20px;
    background-color: #0863A6;
    color: white;
    border-color: white;
    border-radius: 15px;
    margin-left: 350px;
}

#ldg-transition > .trans > .righty{
    margin-right: 30px;
    
}


/* COMMUNITY OUTREACH */
#reach{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 110vh;
}

#reach > .span{
    display: flex;
}

h3{
    font-size: 25px;
    color: #0863A6;
    margin-left: 100px;
    margin-right: 150px;
    text-align: left;
}

.reachout{
    margin-top: 30px;
    margin-left: 150px;
    width: 30%;
}

#reach > .span > .reachdata > ul > li{
    display: inline-block;
    padding: 10px;
    color: black;

}

.reachdata{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
}

/* PARTNERS */
#partna{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100vh;
}

.partners{
    display: flex;
}

.logos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 30px;
}